.articles {
  list-style: none;
  display: flex;
  flex-direction: column;

  li {
    margin-top: var(--space);
    padding-top: var(--space);

    border-top: 1px solid var(--black);
    a {
      display: flex;
      flex-direction: column;

      .wrap {
        display: flex;
        flex-direction: row;

        .content {
          > p {
            display: inline;
          }
        }
      }

      figure {
        aspect-ratio: 4 / 3;
        display: flex;
        img {
          object-fit: cover;
        }
      }
    }
  }
}
