.intro {
  //animation: intro-background calc(var(--body-intro-speed) /1) ease-in 0s 1 forwards;
  //background-color: var(--orange);


  p,
  h1,
  h2,
  h3,
  span,
  li,
  a,
  section {
    animation: intro-foreground calc(var(--body-intro-speed)) ease-in 0s 1 forwards;
    color: var(--orange);
    border-color: var(--orange) !important;
  }

  img {
    animation: intro-images calc(var(--body-intro-speed)) ease-in 0s 1 forwards;
    opacity: 0;
  }

  @keyframes intro-background {
    0% {
      background-color: var(--orange);
    }

    60% {
      background-color: var(--orange);
    }

    100% {
      background-color: var(--background);
    }
  }

  @keyframes intro-foreground {
    from {
      color: var(--orange);
      border-color: var(--orange);
    }

    to {
      color: var(--foreground);
      border-color: var(--foreground);
      animation: none !important;
    }
  }

  @keyframes intro-images {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }

  }
}