.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  section {
    border-bottom: 1px solid var(--black);
    padding-bottom: var(--space);
    padding-top: var(--space);
  }
}
