.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include mq($until: desktop) {
    margin-top: 1em;
  }

  button {
    color: var(--black);

    &:hover {
      color: var(--orange);
    }
  }

  &.submitting {
    opacity: 0.5;
    pointer-events: none;
  }

}

.loginError {
  padding-left: var(--outer-margin);
  padding-right: var(--outer-margin);
}