.logo {
  position: fixed;
  top: var(--navbar-offset);
  left: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  z-index: var(--z-logo);
  pointer-events: none;

  a {
    pointer-events: all;
    transition: color 0.5s ease-in-out;
  }

  @include mq($until: desktop) {
    a {
      color: var(--black);
    }

    &.open {
      a {
        color: var(--white);
      }
    }
  }
}

.onScroll {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--black);
  -webkit-text-fill-color: transparent;
}

.hamburger {
  position: fixed;
  top: 0;
  right: 0.2em;
  z-index: var(--z-hamburger);
  color: var(--black);

  &.open {
    color: var(--white);
  }

  @include mq($from: desktop) {
    display: none;
  }
}

.mobile {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: var(--navbar-height);
  background-color: var(--black);
  z-index: var(--z-navbar);
  color: var(--white);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  font-size: 1.5rem;
  line-height: 1.8;

  @include mq($from: desktop) {
    display: none;
  }

  &.show {
    transform: translateX(0%);
  }

  a {
    color: var(--white);

    &:hover {
      color: var(--white);
    }
  }

  .hamburger {
    background-color: green;
  }

  ul {
    text-align: center;
    list-style: none;
  }

  >ul {
    padding-bottom: 120px;

    li {
      cursor: pointer;

      ul {

        li {

          animation-name: hide;
          animation-timing-function: linear;
          animation-fill-mode: both;
          max-height: 0;
          overflow: hidden;

          &.login {
            animation-name: none;
            max-height: unset;
            overflow: visible;
          }

          @keyframes hide {
            0% {
              max-height: 2em;
            }

            100% {
              max-height: 0;
            }
          }

          @keyframes show {
            0% {
              max-height: 0;
            }

            100% {
              max-height: 2em;
            }
          }
        }

        &.open {

          margin-bottom: 1em;

          li {
            animation-name: show;

          }
        }
      }
    }
  }

  .separator {
    height: 1em;
  }
}

.desktop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-navbar);
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;

  @include mq($until: desktop) {
    display: none;
  }

  ul {
    list-style: none;
  }

  >ul>li:hover,
  a:hover {
    color: var(--orange) !important;
  }

  .separator {
    flex: 1 1 100%;
    pointer-events: none;
  }

  .menu {
    position: relative;
    flex: 1 1 auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    z-index: var(--z-navbar);
    padding-left: var(--outer-margin);
    padding-right: var(--outer-margin);
    height: var(--navbar-height);
    transition: height 0s ease-out;


    &.open {
      background-color: var(--black);
      height: 100vh;


      @keyframes to-black {
        to {
          background-color: var(--black);
        }
      }

      li,
      a {
        color: var(--white);
      }
    }

    &.left {
      justify-content: flex-start;
    }

    &.right {
      justify-content: flex-end;
    }

    @include mq($until: desktop) {
      height: auto;
      flex: 0 0 auto;
      flex-direction: column;
    }

    >li {
      position: relative;
      cursor: pointer;
      white-space: nowrap;
      margin-right: 1ch;
      text-align: center;
      height: var(--navbar-height);
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      @include mq($from: desktop) {
        >form {
          display: none;
        }
      }
    }

    .sub {
      position: absolute;
      top: var(--navbar-height);
      left: 0;
      display: none;
      flex-direction: column;
      padding-top: 1.3rem;
      font-size: 1rem;
      line-height: 2em;

      &.left {
        padding-left: var(--outer-margin);
      }

      &.right {
        padding-left: var(--outer-margin);
      }

      &.open {
        display: flex;
      }
    }
  }

  ul.links {
    justify-content: flex-end;
  }
}

.selected>a,
.selected {
  color: var(--orange) !important;
}

.selectedSub>a,
.selectedSub {
  color: var(--orange) !important;
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include mq($until: desktop) {
    margin-top: 1em;
  }

  button {
    color: var(--white);

    &:hover {
      color: var(--orange);
    }
  }

  &.submitting {
    opacity: 0.5;
    pointer-events: none;
  }
}