.filter {
  max-height: 0;
  overflow: hidden;
  transition:
    all 0.3s ease-in-out,
    border-color 0.3s ease-in-out;

  @include mq($until: desktop) {
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.show {
    border-top: 1px solid;
    border-bottom: 1px solid;
    max-height: 90px;
  }

  ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    //margin-bottom: var(--space);

    li {
      background-color: var(--member-color);
      padding: 0;
      margin-right: 0.8em;

      a {
        padding: 0.2em;
        padding-left: 0.5em;
        padding-right: 0.5em;
      }

      &.selected {
        background-color: var(--orange) !important;

        a {
          color: var(--black) !important;
        }
      }

      @include mq($from: desktop) {
        display: inline-block;

        &:hover {
          background-color: rgba(0, 0, 0, 0.05);

          a {

            color: var(--black);
          }
        }
      }
    }
  }
}