.container {
  h3 {
    padding-bottom: var(--space);
    position: relative;
    display: flex;
    align-items: baseline;
    justify-content: center;

    button {
      //display: none !important;
      all: unset;
      position: absolute;
      right: 0;
      padding-right: 0;
      letter-spacing: 0;
      text-transform: none;
      font-weight: normal;
    }
  }

  .filter {
    max-height: 0;
    overflow: hidden;
    transition:
      all 0.3s ease-in-out,
      border-color 0.3s ease-in-out;

    @include mq($until: desktop) {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &.show {
      border-top: 1px solid;
      border-bottom: 1px solid;
      max-height: 90px;
    }

    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      //margin-bottom: var(--space);

      li {
        background-color: var(--member-color);
        padding: 0;
        margin-right: 0.8em;

        a {
          padding: 0.2em;
          padding-left: 0.5em;
          padding-right: 0.5em;
        }

        &.selected {
          background-color: var(--orange);

          a {
            color: var(--black);
          }
        }

        @include mq($from: desktop) {
          &:hover {
            background-color: var(--orange);

            a {
              color: var(--black);
            }
          }
        }
      }
    }
  }

  ul.resources {
    list-style: none;
    padding: var(--gutter);
    //padding-bottom: var(--gutter);
    grid-row-gap: var(--gutter);
    --dot-size: 7%;
    --square-size: 16px;
    background-image: radial-gradient(var(--orange), var(--dot-size), transparent var(--dot-size)),
      radial-gradient(var(--orange), var(--dot-size), transparent var(--dot-size));
    background-color: transparent;
    background-position:
      0 0,
      calc(var(--square-size) / 2) calc(var(--square-size) / 2);
    background-size: var(--square-size) var(--square-size);

    li {
      grid-column: span 4;
      grid-column: span 4;
      border-top: 1px solid var(--black);
      border-bottom: 1px solid var(--black);
      padding: var(--gutter);
      padding-left: calc(0.75 * var(--gutter));
      padding-right: calc(0.75 * var(--gutter));
      background-color: var(--member-color);

      &:hover {
        a {
          color: var(--orange) !important;
        }

        button {
          visibility: visible;
          color: var(--orange);
        }
      }

      h2 {
        padding-top: 1rem;
        line-height: 1.15;
        hyphens: manual;
      }

      p {
        //display: none;
        &:first-of-type {
          //padding-top: 1em;
        }
      }

      .meta {
        padding-left: 1em;
        //text-align: center;
      }

      .wrapper {
        display: flex;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
      }

      header {
        display: flex;
        justify-content: center;

        span {
          padding-right: 0;
        }
      }

      button {
        padding: 0;
        visibility: hidden;
        padding-top: 0.8rem;
      }
    }
  }

  table.list {
    width: 100%;

    h4 {
      text-align: left;
      padding: 0;
    }

    td {
      padding-bottom: var(--space-small);
      padding-right: 1em;
      border-bottom: 1px solid var(--black);
      padding-top: var(--space-small);
    }

    tr:hover {
      td,
      a {
        color: var(--orange) !important;
      }
    }
  }
}
