.container {
  padding-bottom: var(--space);
  border-bottom: 1px solid var(--black);

  h3 {
    padding-bottom: var(--space);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    //align-self: flex-start;

    figure {
      margin-bottom: 1.8rem;
      aspect-ratio: var(--apsect-ratio);
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }

  .main {
    grid-column: span 8;
    align-self: flex-start;

    li {
      border-bottom: 1px solid var(--black);
      padding-bottom: 2rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .left {
    grid-column: span 4;
    border-left: 1px solid var(--black);
    padding-left: var(--gutter);

    figure {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    li {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--black);

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
