.container {
  //padding-bottom: var(--space);
  //border-bottom: 1px solid var(--black);

  h3 {
    padding-bottom: var(--space);
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    @include mq($from: desktop) {
      position: sticky;
      bottom: 0;
      align-self: flex-end;
    }

    figure {
      margin-bottom: 1.8rem;
      aspect-ratio: var(--apsect-ratio);
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }

  .main {
    grid-column: span 8;

    li {
      border-bottom: 1px solid var(--black);
      padding-bottom: 2rem;
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }

  .right {
    grid-column: span 4;
    @include mq($from: desktop) {
      border-right: 1px solid var(--black);
      padding-right: var(--gutter);
    }

    figure {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    li {
      margin-bottom: 1rem;
      padding-bottom: 1rem;
      border-bottom: 1px solid var(--black);
      &:first-child {
        figure {
          margin-top: 0 !important;
        }
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }

      p {
        margin-bottom: 0;
      }
    }
  }
}
