.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  ul {
    flex: 0 0 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    width: 100%;
    height: var(--navbar-height);

    &:last-child {
      justify-content: flex-end;
    }

    li {
      white-space: nowrap;
      margin-right: 1ch;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  h1 {
    flex: 1 1 auto;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
  }

}