:root {
	--black: #161616;
	--white: #fcfcfc;
	--red: #bf0000;
	--orange: #ff7a00;
	--member-color: #ff7a007a;
	--outer-margin: 2.5rem;
	--space: 2rem;
	--space-small: 1rem;
	--gutter: 1.5rem;
	--navbar-offset: 0.2rem;
	--navbar-height: calc(3rem + var(--navbar-offset));
	--navbar-offset: 0.2rem;
	--background: var(--white);
	--foreground: var(--black);
	--line-height: 1.4em;

	--z-transition-background: 800;
	--z-navbar-pane: 900;
	--z-navbar: 1000;
	--z-logo: 1100;
	--z-hamburger: 1200;

	@include mq($until: desktop) {
		--outer-margin: 0.8rem;
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
}

html {
	box-sizing: border-box;
}

main {
	padding-top: calc(var(--navbar-height) + 1.5rem);
	min-height: calc(100vh);
}

article {
	margin-left: var(--outer-margin);
	margin-right: var(--outer-margin);
	width: calc(100% - (2 * var(--outer-margin)));
}

.grid {
	display: flex;
	flex-direction: column;

	@include mq($from: desktop) {
		display: grid;
		column-gap: var(--gutter);
		grid-template-columns: repeat(12, minmax(0, 1fr));
	}
}

figure {
	&.small {
		@include mq($until: desktop) {
			padding-left: var(--space);
			padding-right: var(--space);
		}

		@include mq($from: desktop) {
			display: grid;
			grid-column-start: 4;
			grid-column-end: 10;
		}
	}
}

.content {
	figure {
		margin-bottom: var(--space-small);

		@include mq($from: desktop) {
			margin-bottom: var(--space);
		}
	}

	.intro {
		padding-bottom: 1.5rem;
	}
}

.structured {

	p,
	blockquote,
	ul,
	ol,
	h3,
	form {
		display: grid;
		grid-column: span 12 / span 12;

		@include mq($from: desktop) {
			grid-column-start: 3;
			grid-column-end: 11;
		}
	}

	h3 {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	p {
		display: block;

		&:last-of-type::after {
			content: "";
			width: 0.7em;
			height: 0.7em;
			background: var(--black);
			font-family: $headline-font;
			display: inline-block;
			margin-left: 0.2em;
		}
	}

	blockquote {
		margin: 0;
		margin-bottom: 1em;
		position: relative;

		&:before {
			content: "”";
			position: absolute;
			font-size: 3rem;
			top: 1rem;
			left: -2rem;
			font-family: $headline-font;
		}

		p {
			display: block;
			grid-column-start: 1;
		}
	}

	ol,
	ul {
		margin-top: 0;

		li p {
			margin-bottom: 0.5em;

			&:after {
				display: none !important;
			}
		}

		margin-bottom: 0.5em;
	}

	ul {
		padding-left: 1em;
	}
}

button {
	width: 100%;
	color: var(--foreground);
	border: 0;
	background-color: transparent;
	padding-bottom: var(--space);
	padding-top: var(--space-small);
	transition: letter-spacing 0.3s;

	@include mq($from: desktop) {
		&:hover {
			color: var(--orange);
			cursor: pointer;
			letter-spacing: 0.4em;
		}
	}

	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}

}

a {
	text-decoration: none;
	color: var(--foreground);

	@include mq($from: desktop) {
		&:hover {
			color: var(--orange);
		}
	}


	&:active {
		color: var(--orange);
	}
}

figcaption {
	@include mq($until: tablet) {}

	padding-top: 1.5em;
}

.date {
	padding-right: 1em;
}

hr {}

input,
textarea,
select {
	width: 100%;
	border: 1px solid var(--black);
	margin-bottom: 1rem;
	padding: 0.5em;
	font-family: $nav-font;
	background-color: var(--white);

	&:focus {}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 0.6rem;
}

::-webkit-scrollbar:horizontal {
	height: 0.6rem;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}