:root {
	--black: #161616;
	--white: #fcfcfc;
	--red: #bf0000;
	--orange: #ff7a00;
	--outer-margin: 2.5rem;
	--space: 2rem;
	--space-small: 1rem;
	--gutter: 1.5rem;
	--navbar-offset: 0.2rem;
	--navbar-height: calc(3rem + var(--navbar-offset));
	--navbar-offset: 0.2rem;
	--background: var(--white);
	--foreground: var(--black);
	--line-height: 1.4em;

	--z-navbar-pane-background: 800;
	--z-navbar-pane: 900;
	--z-navbar: 1000;
	--z-logo: 1100;
	--z-hamburger: 1200;

	@include mq($from: tablet) {
	}

	@include mq($until: tablet) {
	}
}

body {
	width: 100%;
	font-size: 100%;
	line-height: 1em;
	color: var(--foreground);
	background-color: var(--background);
	font-family: $body-font;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "kern";
	overflow-x: hidden;
}

html {
	box-sizing: border-box;
}

main {
	padding-top: calc(var(--navbar-height) + 1.5rem);
	min-height: calc(100vh - var(--navbar-height));
}

article {
	margin-left: var(--outer-margin);
	margin-right: var(--outer-margin);
	width: calc(100% - (2 * var(--outer-margin)));
}

.grid {
	display: grid;
	column-gap: var(--gutter);
	grid-template-columns: repeat(12, minmax(0, 1fr));
}

figure {
	&.small {
		display: grid;
		grid-column-start: 4;
		grid-column-end: 10;
	}
}

content {
	figure {
		margin-bottom: var(--space);
	}
	.intro {
		padding-bottom: 1.5rem;
	}
}

.structured {
	p,
	blockquote,
	ul,
	ol {
		display: grid;
		grid-column-start: 3;
		grid-column-end: 11;
	}

	p {
		display: block;
	}

	blockquote {
		margin: 0;
		margin-bottom: 1em;
		p {
			display: block;
			grid-column-start: 1;
		}
	}

	ol,
	ul {
		margin-top: 0;
		li p {
			margin-bottom: 1em;
		}
	}

	ul {
		padding-left: 1em;
	}
}

button {
	width: 100%;
	color: var(--foreground);
	border: 0;
	background-color: transparent;
	padding-bottom: var(--space);
	padding-top: var(--space-small);

	&:hover {
		color: var(--orange);
		cursor: pointer;
	}
}

a {
	text-decoration: none;
	color: var(--foreground);

	&:hover {
		color: var(--orange);
	}

	&:visited {
	}
}

figcaption {
	@include mq($until: tablet) {
	}
}

.date {
	padding-right: 1em;
}

hr {
}

input,
textarea,
select {
	width: 100%;
	border: none;
	margin-bottom: 1rem;
	padding: 0.5em;
	font-family: $nav-font;
	background-color: var(--white);

	&:focus {
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: calc(100% - 1em);
	background-position-y: center;
	color: var(--black);
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	background: var(--beige-light);
}

::-webkit-scrollbar:vertical {
	width: 10px;
}

::-webkit-scrollbar:horizontal {
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}
