html,
body {
  font-size: 16px;
  font-weight: normal;

  @include mq($from: tablet) {
    font-size: 21px;
  }

  @include mq($from: wide) {
    font-size: 26px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  strong {
    //font-weight: normal;
  }
}

h1,
h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 1em;
  line-height: 1;
  font-family: $headline-font;
}

h1,
h2 {
  text-align: center;
}

.logo {
  letter-spacing: 0.3em;
}

h3,
button {
  font-size: 0.85rem;
  font-family: $headline-font;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: var(--line-height);

  strong {
    font-family: $headline-font;
    font-weight: 0.95em;
  }
}

blockquote {
  font-size: 1.2rem;
}

.intro {
  p {
    font-size: 1.4rem;
    display: inline;
  }
  padding-bottom: var(--space);
}

nav,
footer,
.date,
.nav {
  font-family: $nav-font;
  font-size: 0.8rem;
}

.nav {
  font-size: 1rem;
}
