.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--space);
  //padding-bottom: var(--space);
  width: 100%;
  flex: 1 1 100%;
  align-items: center;
  text-align: center;
  --dot-size: 15%;
  --square-size: 8px;
  background-image: radial-gradient(var(--orange), var(--dot-size), transparent var(--dot-size)),
    radial-gradient(var(--orange), var(--dot-size), transparent var(--dot-size));
  background-color: var(--white);
  background-position: 0 0, calc(var(--square-size) / 2) calc(var(--square-size) / 2);
  background-size: var(--square-size) var(--square-size);

  width: 100%;

  >h3 {
    margin-bottom: 1em;
  }
}