.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    figure {
      margin-left: var(--outer-margin);
      margin-right: var(--outer-margin);
      margin-bottom: 1rem;

      &>div {
        aspect-ratio: var(--apsect-ratio);
        display: flex;
        max-width: none !important;
      }

      img {
        object-fit: cover;
      }
    }

    &:not(:last-child) {
      @include mq($until: desktop) {
        border-bottom: 1px solid;
        margin-bottom: var(--space);
      }

      @include mq($from: desktop) {
        border-right: 1px solid;
      }
    }

    h2 {
      padding-bottom: 0;

      &+p {
        padding-top: 0.5em;
      }
    }

    h3 {
      //padding-bottom: 1em;
    }

    p {
      text-align: center;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    @include mq($until: desktop) {
      &:not(:last-child) {
        padding-bottom: var(--space);
      }
    }
  }

}