.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);

  a {
    display: flex;
    flex-direction: column;

    figure {
      margin-bottom: 1rem;

      & > div {
        aspect-ratio: var(--apsect-ratio);
        display: flex;
        max-width: none !important;
      }

      img {
        object-fit: cover;
      }
    }

    &:not(:last-child) {
      @include mq($until: desktop) {
        border-bottom: 1px solid;
        margin-bottom: var(--space);
      }

      @include mq($from: desktop) {
        border-right: 1px solid;
      }
    }

    h2 {
      padding-bottom: 0;

      & + p {
        padding-top: 0.5em;
      }
    }

    h3 {
      //padding-bottom: 1em;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    @include mq($until: desktop) {
      &:not(:last-child) {
        padding-bottom: var(--space);
      }
    }
  }
}
