.container {
  display: flex !important;
  flex-direction: row;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0 !important;
  @include mq($from: desktop) {
    grid-column-start: 1 !important;
    grid-column-end: 13 !important;
  }

  li {
    display: flex;
    flex-direction: column;
    //width: 50%;

    @include mq($from: desktop) {
      width: 33%;
    }

    figure {
      aspect-ratio: 4 / 3;
      display: flex;
      margin-bottom: 0.8rem;
      padding-left: var(--gutter);
      padding-right: var(--gutter);
      img {
        object-fit: cover;
      }

      .picture {
      }
    }

    .desc {
      text-align: center;
    }
  }
}
