.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;

    figure {
      //margin-left: var(--outer-margin);
      //margin-right: var(--outer-margin);
      margin-bottom: 1rem;

      & > div {
        aspect-ratio: var(--apsect-ratio);
        display: flex;
        max-width: none !important;
      }

      img {
        object-fit: cover;
      }
    }

    &:not(:last-child) {
      @include mq($until: desktop) {
        border-bottom: 1px solid;
        margin-bottom: var(--space);
      }
      @include mq($from: desktop) {
        border-right: 1px solid;
      }
    }

    h3 {
      //padding-bottom: 1em;
    }

    div {
      p {
        display: inline;
      }
      span {
        padding-left: 1em;
      }
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    @include mq($until: desktop) {
      &:not(:last-child) {
        padding-bottom: var(--space);
      }
    }
  }

  &.one > .block {
    flex: 0 0 100%;
  }

  &.two > .block {
    flex: 0 0 50%;

    @include mq($until: desktop) {
      flex: 0 0 100%;
    }
  }

  &.three > .block {
    flex: 1 1 33.33333%;

    @include mq($until: desktop) {
      flex: 0 0 100%;
    }
  }
}
