.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  .block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: var(--gutter);
    padding-right: var(--gutter);

    h2 {
      padding-bottom: 0.8em;
    }

    h3 {
      padding-bottom: 1em;
    }

    p {
      text-align: center;
    }

    p:last-of-type {
      margin-bottom: 0;
    }

    @include mq($until: desktop) {
      &:not(:last-child) {
        padding-bottom: var(--space);
      }
    }
  }

  &.one > .block {
    flex: 0 0 100%;
  }

  &.two > .block {
    flex: 0 0 50%;

    @include mq($until: desktop) {
      flex: 0 0 100%;
    }
  }

  &.three > .block {
    flex: 1 1 33.33333%;

    @include mq($until: desktop) {
      flex: 0 0 100%;
    }
  }
}
