.container {
  display: flex;
  flex-direction: row;
  list-style: none;

  li {
    display: flex;
    flex-direction: column;

    figure {
      .image {}

      .picture {}
    }

    .desc {}
  }
}