.video {
	--height: 50vh;
	display: block;
	height: var(--height);
	margin-bottom: 1rem;
	width: 100%;
	grid-column: span 12 / span 12;

	@include mq($until: desktop) {
		--height: 30vh;
	}

	.player {
		width: 100%;
		height: (--height);

		iframe {
			width: 100%;
			height: var(--height);
		}
	}

	.caption {
		padding-top: var(--space-small);
	}
}
