.orange {
  display: block;
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: var(--z-navbar-pane-background);
  background: var(--orange);
  mix-blend-mode: screen;
  transition: opacity linear 500ms;
  pointer-events: none;
  opacity: 0;

  &.active {
    transition: top linear 100ms;
    opacity: 1;
  }
}

.paragraph {
  transition: color ease-in-out 500ms;

  &.active {
    transition: color ease-in-out 500ms;
    color: var(--orange);

    a {
      transition: color ease-in-out 500ms;
      color: var(--orange);
    }
  }
}

.orangeFade {
  animation: anim 1s ease-in-out 0s 1 forwards;

  @keyframes anim {
    from {
      background-color: var(--orange);
      color: var(--orange);
      border: var(--orange);
    }

    to {
      background-color: var(--background);
      color: var(--foreground);
      border: var(--foreground);
    }
  }
}

.transition {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--orange);
  mix-blend-mode: screen;
  z-index: var(--z-transition-background);
  animation: fade-out 700ms linear 0.2s 1 forwards;
  pointer-events: none;

  @keyframes fade-out {

    to {
      opacity: 0;
    }
  }
}