.staff {
  margin-top: var(--space);
  display: flex;
  width: 100%;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;

  li {
    width: 33%;

    @include mq($until: desktop) {
      width: 100%;
      padding-bottom: var(--space-small);
    }

    figure {
      padding-top: 0;
      padding-left: var(--outer-margin);
      padding-right: var(--outer-margin);
      margin-bottom: 0;
      & > div {
        aspect-ratio: inherit;
      }
    }

    h3 {
      padding-top: 1.5rem;
      padding-bottom: 0.5rem;
    }

    p {
      text-align: center;
      &:first-of-type {
        margin-bottom: 0;
      }
    }
  }
}
