.articles {
  list-style: none;
  display: flex;
  flex-direction: column;

  li {
    margin-top: var(--space);
    padding-top: var(--space);

    border-top: 1px solid var(--black);

    a {
      display: flex;
      flex-direction: column;

      .content {
        grid-column-start: 1;
        grid-column-end: 12;

        &.image {
          grid-column-start: 1;
          grid-column-end: 10;
        }

        >p {
          display: inline;
        }
      }

      figure {
        @include mq($until: desktop) {
          order: -1;
          margin-left: 20%;
          margin-right: 20%;
          margin-bottom: var(--space-small);
          aspect-ratio: unset;
        }

        grid-column-start: 10;
        grid-column-end: 13;
        aspect-ratio: 4 / 3;
        display: flex;

        img {
          object-fit: cover;
        }
      }
    }
  }
}